@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.btnGolden{
    background: #FE8400 !important;
}
.bg-overlay {
    background: linear-gradient(rgba(20, 20, 20, 0.75), rgba(20, 20, 20, 0.75)), url(./assets/hero-img.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 610px;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.2s ease;
    background: linear-gradient(rgba(20, 20, 20, 0.75), rgba(20, 20, 20, 0.75));
}

/* About CSS */
.about{
    background-color: #141414;
    height: 95vh;
}

.out{
    border: 1px solid #FE8400 !important;
}

/* Feature CSS*/
.car{
    width: 5%;
    border: 5px solid;
}
.size{
    height: 240px;
}

/* Services */
.services{
    position: relative;
    background-color: #141414;
    height: 60vh;
}

.footer{
    background-color: #141414;
    height: auto;
      max-height: 100vh;
      overflow-y: auto;
}

.title .premium{
    width:400px;
}

.link:hover{
    background-color: #FE8400 !important;
    color: #fff !important;
}

.small3{
    margin-left: 1% !important;
}

.box1{
    width: 250px;
    height: 290px;
    border-radius: 5px;
    box-shadow: 1px 23px 17px -7px rgba(0,0,0,0.62);
}

.change:hover{
    color: #FE8400 !important;
    font-weight: 600;
}

.new:hover{
    background-color: #FE8400 !important;
}

.ancor{
    color: #FE8400 !important;
}

.extra{
    margin-top: 180px;
}

/* Cars Type */
.custom-height {
    height: 350px !important;
    object-fit: cover;
    width: 150px !important;
    border-radius: 20px;
}

.review{
        background-color: #141414;
        height: 140vh;
        width: 100%;
        height: auto;
}

.news{
    width: 100%;
}
.inner-shadow {
    box-shadow: inset 0px -130px 10px rgba(0, 0, 0, 0.5); /* Bottom inner shadow */
  }

.font{
    font-size: 12px;
}

.card1{
    background-color: #efefef;
    max-height: 15vh;
}

.man{
    margin-left: -255px;
    margin-top: 45px;
}

.cursor{
    cursor: pointer;
}
/* Responsive Code for mobile */
@media (max-width: 767.98px) {
    .card {
      margin-left: auto;
      margin-right: auto;
    }
    .bg-overlay {
        height: 500px;
        width: 100%;
    }
    .extra{
        margin-top: 20px;
    }
  }

  /* Tablet and choti screen pay Responsive */
  @media (max-width: 992px) {
    .review {
      height: auto;
      max-height: 90vh;
      overflow-y: auto;
    }
  }

  /* Tables Responsive */
  @media(max-width:884px){
    .extra{
        margin-top: 0px;
    }
  }

  /* animation */
  .underline1 {
    /* display: inline-block; */
    position: relative;
    cursor: pointer;}
  .underline1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background-color: #FE8400;
    transition: width 0.3s ease;}
    .underline1:hover::after {
    width: 100%;}

/* SignUp Login & Contact Us CSS */
    .create{
        color: #333d4c;
    }
    
    .create:hover{
        text-decoration: none;
    }
    
    .fbBtn{
        background: none;
        font-size: 18px;
        padding: 8px 0px;
        font-weight: 500;
        border-radius: 5px;
        border: 0.5px solid #d9dde0;
    }
    
    .fbBtn:hover{
        border: 0.5px solid #616263;
    }
    /* Underline Animation */
    .ancor {
        position: relative;
        text-decoration: none;
        color: #181d25;
        transition: color 0.3s ease;
    }
    .ancor::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1.5px; 
        background-color: #000;
        bottom: -4px;
        transition: width 0.3s ease;
    }
    .ancor:hover::after {
        width: 100%;
    }
    .is-invalid {
        border-color: red;
      }
      
      .invalid-tooltip {
        display: none;
        color: red;
      }
    
    /* Sign Up CSS */
    